<div class="card-body">
    $partial("templates/banner.html")$
    <nav>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="/blog/">blog</a></li>
            <li class="nav-item"><a class="nav-link" href="http://cabal.readthedocs.io/en/latest/">documentation</a></li>
            <li class="nav-item"><a class="nav-link" href="/pages/faq.html">FAQ</a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/haskell/cabal/blob/master/README.md">contribute</a></li>
        </ul>
    </nav>
</div>
